/* @font-face {
    font-family: 'Kohinoor-Bangla';
    src: url('../fonts/KohinoorBangla-Medium.woff2') format('woff2'),
        url('../fonts/KohinoorBangla-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0980-09FF;
}

@font-face {
    font-family: 'Kohinoor-Bangla';
    src: url('../fonts/KohinoorBangla-Light.woff2') format('woff2'),
        url('../fonts/KohinoorBangla-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0980-09FF;
}

@font-face {
    font-family: 'Kohinoor-Bangla';
    src: url('../fonts/KohinoorBangla-Bold.woff2') format('woff2'),
        url('../fonts/KohinoorBangla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0980-09FF;
}

@font-face {
    font-family: 'Kohinoor-Bangla';
    src: url('../fonts/KohinoorBangla-Semibold.woff2') format('woff2'),
        url('../fonts/KohinoorBangla-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0980-09FF;
}

@font-face {
    font-family: 'Kohinoor-Bangla';
    src: url('../fonts/KohinoorBangla-Regular.woff2') format('woff2'),
        url('../fonts/KohinoorBangla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0980-09FF;
}

@font-face {
    font-family: 'Kalpurush';
    src: url('../fonts/Kalpurush.woff2') format('woff2'),
        url('../fonts/Kalpurush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0980-09FF; 
}


@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Black.woff2') format('woff2'),
        url('../fonts/FiraSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/FiraSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Light.woff2') format('woff2'),
        url('../fonts/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Italic.woff2') format('woff2'),
        url('../fonts/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-LightItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/FiraSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Thin.woff2') format('woff2'),
        url('../fonts/FiraSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-SemiBold.woff2') format('woff2'),
        url('../fonts/FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF; 
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Alkatra';
    src: url('../fonts/Alkatra-Regular.woff2') format('woff2'),
        url('../fonts/Alkatra-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0980-09FF;

} */

/* body {
  font-family: 'Alkatra','-apple-system', 'BlinkMacSystemFont', 'Fira Sans', 'Helvetica Neue', 'Apple Color Emoji', sans-serif !important;
  font-size: 0.875rem !important;
 }  */

/* Right-side modal (offcanvas simulation for Bootstrap 4) */

.modal.right .modal-dialog {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    width: 400px;
    /* Adjust width as needed */
    height: 100%;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease-out;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
}

.modal.right.show .modal-dialog {
    transform: translate3d(0, 0, 0);
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Mobile এ ৪ কলাম */
    gap: 4px;
}

@media (min-width: 768px) {
    .icon-grid {
        grid-template-columns: repeat(6, 1fr);
        /* Tablet/Desktop এ ৬টা কলাম */
    }
}

@media (min-width: 1200px) {
    .icon-grid {
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1400px) {
    .icon-grid {
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1600px) {
    .icon-grid {
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1800px) {
    .icon-grid {
        grid-template-columns: repeat(10, 1fr);
        gap: 10px;
    }
}

@media (min-width: 2000px) {
    .icon-grid {
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
    }
}

.icon-div:hover {
    background-color: #f5f8fa;
    box-shadow: 0 2px 8px rgba(86, 129, 240, 0.8);
    transition: background 0.2s, box-shadow 0.2s;
}

.icon-div:hover .metric-label {
    font-weight: bold;
    color: rgb(29, 29, 139);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list .nav-item a {
    display: flex;
}